<template>
  <div class="flex flex-col font-body font-normal leading-normal text-dark-300">
    <header
      class="flex items-center fixed z-50 inset-x-0 top-0 bg-white shadow-md shadow-gray-300 h-[67px] rounded-bl-xl rounded-br-xl"
    >
      <div
        class="flex h-1 bg-gradient-to-r from-primary-green to-primary-blue w-full absolute inset-x-0 top-0"
      ></div>
      <div class="flex justify-end w-full">
        <button
          class="flex justify-center items-center px-4 py-3 font-semibold text-primary-green text-sm"
        >
          Login
        </button>
      </div>
    </header>

    <main class="flex flex-col mt-[80px] mb-[100px]">
      <div class="flex flex-col gap-1">
        <div class="flex w-full h-full">
          <img
            src="~/assets/images/background0.svg"
            alt=""
            class="object-contain absolute -mt-4"
          />
        </div>
        <h2
          class="font-body text-[42px] font-medium text-dark-500 leading-normal w-8/12 justify-center text-center mx-auto relative"
        >
          Deine Job website
        </h2>
        <div class="flex h-[404px] w-full relative">
          <img
            src="~/assets/images/undraw_agreement_aajr.svg"
            alt=""
            class="h-full w-full object-contain"
          />
        </div>
      </div>
      <div
        class="flex w-full h-10 rounded-2xl border border-gray-200 overflow-hidden relative mt-[111px]"
      >
        <button
          class="flex justify-center items-center h-full flex-1 text-sm font-bold border-x border-y-gray-100 transition-all duration-500"
          :class="[
            selectedTab == tab
              ? 'text-white bg-accent-cyan'
              : 'text-primary-green',
          ]"
          v-for="(tab, index) in tabs"
          :key="index"
          @click="selectTab(tab)"
        >
          {{ tab }}
        </button>
      </div>

      <!-- Will show all of the tab content -->
      <!-- conditionaly using the selected tab indicate -->
      <div class="flex flex-col mt-[30px]">
        <!-- only show when the tab is about Arbeitgeber -->
        <div
          class="flex flex-col gap-5 transition-all duration-700"
          v-show="selectedTab == 'Arbeitnehmer'"
        >
          <div class="flex px-[50px]">
            <h4
              class="text-[21px] font-medium leading-normal text-center text-dark-400"
            >
              Drei einfache Schritte zu deinem neuen Job
            </h4>
          </div>
          <div class="flex flex-col">
            <div class="flex justify-end mx-10">
              <img
                src="~/assets/images/undraw_Profile_data_re_v81r.svg"
                alt=""
                class="object-contain"
              />
            </div>
            <div class="flex gap-6 pl-[11px] pr-[35px] items-end -mt-20">
              <span class="text-[130px] font-normal text-dark-300">1.</span>
              <span class="text-base font-normal text-dark-300 mb-12"
                >Erstellen dein Lebenslauf</span
              >
            </div>
          </div>
          <div class="flex flex-col -mt-7">
            <div class="flex h-full w-full">
              <img
                src="~/assets/images/backgrond1.svg"
                class="object-contain absolute z-10"
                alt=""
              />
            </div>
            <div
              class="flex gap-6 pl-[35px] pr-[19px] items-end relative z-30 mt-2"
            >
              <span class="text-[130px] font-normal text-dark-300">2.</span>
              <span class="text-base font-normal text-dark-300 mb-12"
                >Erstellen dein Lebenslauf</span
              >
            </div>
            <div class="flex justify-end mx-10 relative z-30">
              <img
                src="~/assets/images/undraw_task_31wc.svg"
                alt=""
                class="object-contain mr-10"
              />
            </div>
          </div>
          <div class="flex flex-col">
            <div class="flex h-full w-full">
              <img
                src="~/assets/images/background2.svg"
                alt=""
                class="object-contain absolute"
              />
            </div>

            <div class="flex gap-6 pl-[54px] pr-[38px] items-end relative">
              <span class="text-[130px] font-normal text-dark-300">3.</span>
              <span class="text-base font-normal text-dark-300 mb-12"
                >Mit nur einem Klick bewerben</span
              >
            </div>
            <div class="flex justify-center mx-10 relative">
              <img
                src="~/assets/images/undraw_personal_file_222m.svg"
                alt=""
                class="object-contain"
              />
            </div>
          </div>
        </div>

        <!-- only show when the tab is about Arbeitgeber -->
        <div
          class="flex flex-col gap-5 transition-all duration-700"
          v-show="selectedTab == 'Arbeitgeber'"
        >
          <div class="flex px-[50px]">
            <h4
              class="text-[21px] font-medium leading-normal text-center text-dark-400"
            >
              Drei einfache Schritte zu deinem neuen Mitarbeiter
            </h4>
          </div>
          <div class="flex flex-col">
            <div class="flex justify-end mx-10">
              <img
                src="~/assets/images/undraw_Profile_data_re_v81r.svg"
                alt=""
                class="object-contain"
              />
            </div>
            <div class="flex gap-6 pl-[11px] pr-[35px] items-end -mt-20">
              <span class="text-[130px] font-normal text-dark-300">1.</span>
              <span class="text-base font-normal text-dark-300 mb-12"
                >Erstellen dein Unternehmensprofil</span
              >
            </div>
          </div>
          <div class="flex flex-col -mt-7">
            <div class="flex h-full w-full">
              <img
                src="~/assets/images/backgrond1.svg"
                class="object-contain absolute"
                alt=""
              />
            </div>
            <div
              class="flex gap-6 pl-[35px] pr-[19px] items-end relative z-30 mt-2"
            >
              <span class="text-[130px] font-normal text-dark-300">2.</span>
              <span class="text-base font-normal text-dark-300 mb-12"
                >Erstellen ein Joinserat</span
              >
            </div>
            <div class="flex justify-end mx-10 relative z-30">
              <img
                src="~/assets/images/undraw_about_me_wa29.svg"
                alt=""
                class="object-contain mr-10"
              />
            </div>
          </div>
          <div class="flex flex-col -mt-12">
            <div class="flex h-full w-full">
              <img
                src="~/assets/images/background2.svg"
                alt=""
                class="object-contain absolute z-10"
              />
            </div>

            <div class="flex gap-6 pl-[54px] pr-[38px] items-end relative z-20">
              <span class="text-[130px] font-normal text-dark-300">3.</span>
              <span class="text-base font-normal text-dark-300 mb-12"
                >Wähle deinen neuen Mitarbeiter aus</span
              >
            </div>
            <div class="flex justify-center mx-10 relative z-20">
              <img
                src="~/assets/images/undraw_swipe_profiles1_i6mr.svg"
                alt=""
                class="object-contain"
              />
            </div>
          </div>
        </div>

        <!-- only show when the tab is about Temporärbüro -->
        <div
          class="flex flex-col gap-5 transition-all duration-700"
          v-show="selectedTab == 'Temporärbüro'"
        >
          <div class="flex px-[50px]">
            <h4
              class="text-[21px] font-medium leading-normal text-center text-dark-400"
            >
              Drei einfache Schritte zur Vermittlung neuer Mitarbeiter
            </h4>
          </div>
          <div class="flex flex-col">
            <div class="flex justify-end mx-10">
              <img
                src="~/assets/images/undraw_Profile_data_re_v81r.svg"
                alt=""
                class="object-contain"
              />
            </div>
            <div class="flex gap-6 pl-[11px] pr-[35px] items-end -mt-20">
              <span class="text-[130px] font-normal text-dark-300">1.</span>
              <span class="text-base font-normal text-dark-300 mb-12"
                >Erstellen dein Unternehmensprofil</span
              >
            </div>
          </div>
          <div class="flex flex-col -mt-7">
            <div class="flex h-full w-full">
              <img
                src="~/assets/images/backgrond1.svg"
                class="object-contain absolute"
                alt=""
              />
            </div>
            <div
              class="flex gap-6 pl-[35px] pr-[19px] items-end relative z-30 mt-2"
            >
              <span class="text-[130px] font-normal text-dark-300">2.</span>
              <span class="text-base font-normal text-dark-300 mb-12"
                >Erhalte Vermittlungs- angebot von Arbeitgeber</span
              >
            </div>
            <div class="flex justify-end mx-10 relative z-30">
              <img
                src="~/assets/images/undraw_job_offers_kw5d.svg"
                alt=""
                class="object-contain mr-10"
              />
            </div>
          </div>
          <div class="flex flex-col -mt-6">
            <div class="flex h-full w-full">
              <img
                src="~/assets/images/background2.svg"
                alt=""
                class="object-contain absolute -left-5 z-10"
              />
            </div>

            <div class="flex gap-6 pl-[54px] pr-[38px] items-end relative z-20">
              <span class="text-[130px] font-normal text-dark-300">3.</span>
              <span class="text-base font-normal text-dark-300 mb-12"
                >Vermittlung nach Provision oder Stundenlohn</span
              >
            </div>
            <div class="flex justify-center mx-10 relative z-20">
              <img
                src="~/assets/images/undraw_business_deal_cpi9.svg"
                alt=""
                class="object-contain"
              />
            </div>
          </div>
        </div>
      </div>
    </main>

    <div
      class="flex fixed z-50 items-center inset-x-0 bottom-0 h-[80px] bg-white rounded-tl-xl rounded-tr-xl drop-shadow-[20px 20p 30px 20px #cccccc] shadow-gray-400 border border-gray-200"
    >
      <button
        class="flex justify-center items-center h-10 rounded-xl bg-gradient-to-r from-primary-green to-primary-blue text-sm font-semibold text-white w-full mx-4"
      >
        Kostenlos Registrieren
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  data: () => ({
    selectedTab: 'Arbeitnehmer',
    tabs: ['Arbeitnehmer', 'Arbeitgeber', 'Temporärbüro'],
  }),
  methods: {
    selectTab(tab: string) {
      this.selectedTab = tab
    },
  },
})
</script>
